{% extends "HomeTffApp/base.html"%}

{% load static %}

{% block content %}

<section>
    <img src="{% static "HomeTffApp/img/luna.png" %}" id="luna">
    <img src="{% static "HomeTffApp/img/nubes.png" %}" id="nubes">
    <h2 id="tocayos">Tocayos Freight Flow</h2>
    <a href="#secbelow" id="btn">Dive deeper</a>
    <img src="{% static "HomeTffApp/img/boat.png" %}" id="boat">
    <img src="{% static "HomeTffApp/img/agua.png" %}" id="agua">
</section>
<div class="secbelow" id="secbelow">
    <h2>Commitment to Sustainability:</h2>
    <p>We take pride in our strong commitment to environmental sustainability across all operations, working diligently to reduce the carbon footprint and minimize the environmental impact.</p>

    <h2>Eco-Friendly Technologies:</h2>
    <p>Incorporating eco-friendly technologies into our fleet of ships and trucks enables us to reduce emissions and improve energy efficiency. Our state-of-the-art transportation systems meet the highest standards of efficiency and environmental responsibility.</p>

    <h2>Sustainable Logistics Practices:</h2>
    <p>Optimizing routes and logistics practices is a key part of our strategy to reduce fuel consumption and carbon emissions. We implement sustainable logistics practices to minimize the environmental impact of transportation operations.</p>

    <h2>Certifications and Recognitions:</h2>
    <p>Our company holds recognized certifications validating our commitment to sustainable business practices, receiving acknowledgment for proactive initiatives in emissions reduction and environmental care.</p>

    <h2>Environmental Innovations:</h2>
    <p>Continually seeking and adopting innovations to reduce environmental impact demonstrates our industry leadership. We are at the forefront of sustainable solutions, implementing innovative technologies to minimize our environmental footprint.</p>

    <h2>Transparency and Disclosure:</h2>
    <p>Our transparency regarding environmental practices and commitment to continuous communication of progress set us apart. Regular publication of reports on environmental performance underscores our dedication to accountability and improvement.</p>

</div>


{% endblock %}