{% extends "HomeTffApp/base.html"%}

{% load static %}

{% block content %}

<link href="{% static 'EasyShipApp/css/paso_uno.css' %}" rel="stylesheet">
<!-- 
    LOS PASOS TIENEN QUE IR EN OTRA APP DE DJANGO


    hacer los pasos de agarrar datos
    info de las cargas
    le decis si se puede
    le calculas el precio y decis cuando se haria el viaje
    le mostras las formas de pago y le armas un boton ficticio de pagar porque no te van a pagar un soto

    una vez cargado el pedido y aceptado podes hacer un seguimiento en los barquitos en el trackr con el id del pedido,
    pero para esto vas a necesitar funcional la base de datos
-->
<section>
    <img src="{% static "EasyShipApp/img/container.png" %}" id="container">
    <h2>Step 1 (out of 4). Adress information</h2>
    <form action="">
        <div class="colwrapp">
            <div class="wrapper">
                <h1>Origin</h1>
                <div class="input-box">
                    <input type="text" placeholder="Name" required>
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Origin port" required> <!--este que sea con opciones-->
                    <i class="fa-solid fa-anchor"></i>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Postal code" required>
                    <i class="fa-solid fa-envelope-open-text"></i>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Phone (opcion.)">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Email" required>
                    <i class="fa-solid fa-envelope"></i>
                </div>

                <div class="remember-forgot">
                    <label><input type="checkbox">Remember me</label>
                </div>
            </div>
            <div class="wrapper">
                <h1>Destination</h1>
                <div class="input-box">
                    <input type="text" placeholder="Recipient name" required>
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Destination Port" required> <!--este que sea con opciones-->
                    <i class="fa-solid fa-anchor"></i>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Postal code" required>
                    <i class="fa-solid fa-envelope-open-text"></i>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Phone (opcion.)">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Email" required>
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <a href="{% url 'EasyShipApp:Paso dos' %}" type="submit" class="btn">Continue</a>
            </div>
            
        </div>
    </form>
</section>


{% endblock %}